<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Scaneva.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Scaneva.Properties.Settings>
            <setting name="LogDirectory" serializeAs="String">
                <value>.\Log</value>
            </setting>
            <setting name="ScanResultDirectory" serializeAs="String">
                <value>.\Results</value>
            </setting>
            <setting name="DefaultScanMethodDirectory" serializeAs="String">
                <value>.\</value>
            </setting>
            <setting name="HWSettingsFilePath" serializeAs="String">
                <value>HardwareSettings.xml</value>
            </setting>
            <setting name="PositionStoreFilePath" serializeAs="String">
                <value>PositionStore.xml</value>
            </setting>
        </Scaneva.Properties.Settings>
    </userSettings>
</configuration>